.form-wizard .wizard-form-radio {
    display: inline-block;
    margin-left: 5px;
    position: relative;
}

.form-wizard .wizard-form-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #dddddd;
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.form-wizard .wizard-form-radio input[type="radio"]:focus {
    outline: 0;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked {
    background-color: #5771ec;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    left: 1px;
    right: 0;
    margin: 0 auto;
    top: 8px;
}

.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
    content: "";
    display: inline-block;
    webkit-animation: click-radio-wave 0.65s;
    -moz-animation: click-radio-wave 0.65s;
    animation: click-radio-wave 0.65s;
    background: #000000;
    content: "";
    display: block;
    position: relative;
    z-index: 100;
    border-radius: 50%;
}

.form-wizard .wizard-form-radio input[type="radio"] ~ label {
    padding-left: 10px;
    cursor: pointer;
}

.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
    background-color: #5771ec;
    color: #ffffff;
    display: inline-block;
    min-width: 100px;
    min-width: 120px;
    padding: 10px;
    text-align: center;
}

.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
}

.form-wizard .wizard-fieldset {
    display: none;
}

.form-wizard .wizard-fieldset.show {
    display: block;
}

.form-wizard .wizard-form-error-text {
    display: none;
    color: #ea4d4d;
    font-size: 11px;
}
.form-wizard .wizard-form-error {
    border: 1px solid #ea4d4d;
}

.form-wizard .form-wizard-previous-btn {
    background-color: #fb1647;
}

.form-wizard .input-group-text {
    background: #f1f1f1;
    border: none;
}

.form-wizard .form-wizard-steps li {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 15px 10px;
}
.form-wizard .form-wizard-steps li span {
    background-color: #fff;
    border: 2px solid #dddddd;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 30px;
    margin-right: 10px;
    z-index: 1;
    font-size: 12px;
}

.form-wizard .form-wizard-steps li:not(:last-child)::after {
    content: "";
    position: absolute;
    border-left: 2px solid #dddddd;
    height: 100%;
    bottom: -30px;
    margin-left: 15px;
}
.form-wizard .form-wizard-steps li.activated span {
    background-color: #bdc5ee;
    border: 2px solid #bdc5ee;
    color: rgba(255, 255, 255, 0.68);
}
.form-wizard .form-wizard-steps li.active span {
    background-color: #5771ec;
    border: 2px solid #5771ec;
    color: #ffffff;
}

.form-wizard .wizard-password-eye {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@keyframes click-radio-wave {
    0% {
        width: 25px;
        height: 25px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        width: 60px;
        height: 60px;
        margin-left: -15px;
        margin-top: -15px;
        opacity: 0;
    }
}

@media screen and (max-width: 767px) {
    .wizard-content-left {
        height: auto;
    }
}

.disabled {
    position: relative;
    pointer-events: auto !important;
    cursor: not-allowed !important;
}
.disabled:after {
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
.disabled .form-control {
    background-color: #e9ecef;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li {
    display: inline;
}
ul.ks-cboxtags li label {
    display: inline-block;
    background-color: #f7f9fa;
    border: 2px solid #c9ced4;
    color: #32363b;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="radio"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="radio"]:checked + label {
    border: 2px solid #89a8f8;
    background-color: #ebf0ff;
    color: #162c64;
    transition: all 0.2s;
}

ul.ks-cboxtags li input[type="radio"] {
    display: absolute;
}
ul.ks-cboxtags li input[type="radio"] {
    position: absolute;
    opacity: 0;
}
/* ul.ks-cboxtags li input[type="checkbox"]:focus + label {
border: 2px solid rgba(139, 139, 139, .3);
} */
